project:
  type: website
  execute-dir: file
  resources:
    - CNAME
    - audio
    - video
    - frm/plans/*.html
    - frm/reports
    - news/audio_video
    - mmm/plans
    - mmm/reports
    - mbon/plans
    - mbon/reports

website:
  title: "TailWinds"
  site-url: "https://tailwinds.umces.edu/"
  navbar:
    logo: index_images/TailWinds_logo_white.png
    title: false
    left:
      - text: Monitoring Projects
        menu:
        - text: Whales in Real-time
          href: rtwb/index.qmd
        - text: Fishery Resources
          href: frm/index.qmd
        - text: Marine Mammals
          file: mmm/index.qmd
      - text: The Species
        menu:
        - text: Whales
          href: meetthe/whales.qmd
        - text: Dolphins and Porpoises
          href: meetthe/dolphins.qmd
        - text: Fish
          href: meetthe/fish.qmd
      - text: The Team
        href: team/index.qmd
      - text: For Reference
        href: pubs/index.qmd
      - text: What's New
        href: news/index.qmd
      # - text: In the Press
      #   href: Press/index.qmd

  
format:
  html:
    theme: yeti
    css: styles.css
    toc: true
    link-external-icon: true
    link-external-newwindow: true

execute:
  freeze: auto
